.heart {
    font-size: 2rem;
    color: #ddd; /* Color gris cuando no está en favoritos */
    cursor: pointer;
    transition: color 0.3s ease, transform 0.3s ease;
}

.heart:hover {
    transform: scale(1.1); /* Hacer que el corazón crezca ligeramente cuando se pasa el mouse por encima */
}

/* Corazón rojo cuando está en favoritos */
.heart.liked {
    color: red;
}

.heart.liked:hover {
    transform: scale(1.2); /* Aumentar el tamaño cuando está en favoritos */
}
@media (min-width: 769px) {
    .boton_anadir_lista_deseos{
        padding: 3%;
        font-weight: 600;
        font-size: 3.1vh;
        display: flex;
        text-align: center;
        margin-top: 5%;
    }

}
