.contenedor_botones_accion_producto{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 4%;
    padding: 3%;
    flex-wrap: nowrap;
    width: 80%;
}

.contenedor_botones_accion_producto a {
    text-decoration: none;
    color: inherit;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 4%;
    flex-wrap: nowrap;
    width: 80%;
}
.boton_accion_producto{
    background-color: var(--Morado);
    color: var(--Blanco);
    padding: 2%;
    border-radius: 8px;
    width: 50%;
    margin-top: 1%;
    font-weight: 600;
    font-size: 2.2vh;
    display: flex;
    text-align: center;
    justify-content: center;
}

.boton_accion_producto:hover{
    background-color: var(--Rosado_principal);
}

@media (min-width: 769px) {
    .boton_accion_producto{
        width: 45vh;
    margin-top: 1%;
    font-weight: 600;
    font-size: 3vh;
    padding: 3%;
    }
    
    .contenedor_botones_accion_producto{
        width: 60%;
        flex-direction: row;
        justify-content: space-between;
    }
   
}