.container_form_registro{
    
    width: 90%;
    min-width: 352px;  
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-direction: column;

}
.container_llenado{
   
    display: flex;
    color: #925487;
    flex-direction: column;
    display: flex;
    justify-content: center; 


}
.subtitle{
    color: #BE6C97;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 5px;
    font-size: 1em;
    display: flex;
    justify-content: flex-start; 

}
.form_editar_info {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    padding-left: 50px;
    padding-right: 50px;
    
}
.edit_info{
    width: 100%;
    min-width: 500px;
    max-width: 580px;
    height: 3rem;
    border-radius: 31px;
    border: 1.5px solid #764C73;
    
    font-size: 1rem ;
    color: grey;
    font-family: 'Poppins', semi-bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 21px;
    padding-left: 15px; 
    box-sizing: border-box;
}

.boton_guardar_cambios{
    background-color: #764C73;
    width: 30%;
    min-width: 305px;
    max-width: 460px;
    height: 2.8rem;
    border: #764C73;
    border-radius: 8px;
    margin-bottom: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-size: 20px;
    margin-top: 8px;
}
.cont_boton_editE{
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
}


.boton_guardar_cambios:active{
    background-color: #C9A8CB ;
}
.alert {
    width: 100%;
    margin-top: 2px;
    font-size: 13px;
    color: red;
}

@media (min-width: 1024px) {
    .form_editar_info {
        flex-direction: row; /* Cambiar a filas */
        flex-wrap: wrap; /* Permitir el ajuste en más de una fila */
        justify-content: space-between;
    }
    .container_form_registro{
        display: flex; 
        justify-content: center; 
        align-items: center; 
    }
    .edit_info {
        width: 48%; /* Hacer los inputs ocupen el 48% del ancho para que haya espacio entre ellos */
    }

    .boton_guardar_cambios {
        width: 80%; /* El botón sigue ocupando toda la fila */
    }
}