.cont_general_register_sale {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    
    margin-top: 30px;
}

.cont_register_title {
    width: 100%;
    max-width: 100%;
    display: flex;
}

.cont_register_s h1{
    width: 100%;
    font-size: 2em;
    color: #925487; 
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
}

.cont_register_title h1 {
    width: 100%;
    font-size: 1.5em;
    color: #925487; 
    flex-direction: column;
    margin-bottom: 20px;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
}

.cont_regis {
    width: 50%;
    min-width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.subt_register {
    color: #BE6C97;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 5px;
    font-size: 1em;
}

.cont_filled {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.input_register {
    width: 90%;
    min-width: 300px;
    height: 3rem;
    border-radius: 31px;
    border: 1.5px solid #764C73;
    font-size: 1rem ;
    color: grey;
    font-family: 'Poppins', semi-bold;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 15px; 
    box-sizing: border-box;
    margin-bottom: 20px;
}

.container_button_sale {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.my_button_sale {
    background-color: var(--Morado); 
    padding: 12px 24px 12px; 
    font-size: 1rem; 
    border: 2px solid transparent; 
    border-radius: 50px; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); 
    cursor: pointer; 
    transition: all 0.3s ease; /* Suavizar todos los cambios */
    color: var(--Blanco);
}

.container_button_sale .my_button_sale button {
    text-decoration:  none;
}

.my_button_sale:hover {
    background-color: #BE6C97;; 
    color: var(--Blanco);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3); 
    border: 2px solid #C9A8CB; 
    transform: translateY(-3px); 
}

.my_button_sale:active {
    background-color: var(--Morado); 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); 
    transform: translateY(0); 
}

.cont_table_sale {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

table {
    width: 90%;
    border-collapse: collapse;
    margin: 0 auto; 
}

/* Aplica un color de fondo al encabezado de la tabla */
thead {
    background-color: #764C73;; /* Cambia este color según prefieras */
}

/* Define un borde para las celdas */
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

/* Estilo alternativo para las filas */
tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Color del texto de las celdas de encabezado */
th {
    color: white;
}

#modalInventarioVenta .table {
    border-radius: 10px;
}

#modalInventarioVenta .table thead th {
    background-color: #764C73; /* Fondo morado oscuro */
    color: #FFFFFF; /* Texto blanco */
    font-weight: bold;
    text-align: center;
}

.table-container {
    border-radius: 10px;
}

.table-container .table thead th {
    background-color: #764C73; /* Fondo morado oscuro para la cabecera */
    color: #FFFFFF; /* Texto blanco para la cabecera */
    font-weight: bold;
    text-align: center;
}

.contenedor_busqueda {
    width: 100%;
    max-width: 400px;
    height: 2.5rem;
    display: flex;
    align-items: center;
    border: 1.5px solid #764C73; 
    border-radius: 31px;
    padding-left: 15px;
    margin-bottom: 21px;
    box-sizing: border-box;
    background-color: #FFFFFF; 
    
   
}
.formulario_busqueda{
    margin-top: 16px;
    display: flex;
    align-items: center;
    flex-direction: row;
     
    justify-content: space-between; 

}
.contenedor_busqueda i {
    color: grey;
    font-size: 1.2rem;
    margin-right: 10px;
    
}

.buscar_empleado {
    width: 100%;
    border: none;
    outline: none;
    font-size: 1rem;
    color: grey;
    font-family: 'Poppins', sans-serif;
    padding-left: 8px;
    background: none;
}

.buscar_empleado::placeholder {
    color: grey; /* Color del placeholder */
    opacity: 0.7;
}

.modal-title {
    color: #764C73;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
}

@media (min-width: 1024px) {
    .cont_regis {
        width: 100%;
        flex-direction: row; 
        flex-wrap: wrap; 
        justify-content: space-between;
    }

} 

