.contenedorDashAdmin {
    display: flex; /* Esto pone las secciones lado a lado */
    justify-content: space-between; /* Opcional: distribuye el espacio entre los elementos */
    flex-direction: column;
    align-content: center;
}

x-Claudia.navegacionLateral {
    flex: 1; /* Toma el espacio disponible, puedes ajustar este valor */
    min-width: 200px; /* Tamaño mínimo de la navegación lateral */
}

x-Claudia.pageContent {
    flex: 3; /* Toma más espacio que la navegación lateral */
    min-width: 400px; /* Tamaño mínimo del contenido de la página */
}

.contenedor_buscador_general{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: flex-start;
    gap: 20px;
    padding: 20px;

}


.contenedor_total_producto{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: auto;
}
