.contenedorDashAdmin {
    display: flex; /* Esto pone las secciones lado a lado */
    justify-content: space-between; /* Opcional: distribuye el espacio entre los elementos */
    
}

x-Claudia.navegacionLateral {
    flex: 1; /* Toma el espacio disponible, puedes ajustar este valor */
    min-width: 200px; /* Tamaño mínimo de la navegación lateral */
}

x-Claudia.pageContent {
    flex: 3; /* Toma más espacio que la navegación lateral */
    min-width: 400px; /* Tamaño mínimo del contenido de la página */
}
