label {
    font-family: inherit; /* Hereda la fuente del body */
    font-style: inherit; /* Hereda el estilo del body */
}

label {
    color: var(--Negro);
    font-size: 17px;
    width: 10%;
    margin: 1%;
}

.registro_imagen_producto {
    border-bottom: 1px solid #0000004d;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    margin-left: 5%;
    justify-content: space-between;
    align-items: flex-start;
    gap: 80px;
}

.llenar {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    border-radius: 8px;
    width: 30%;
    height: 20%;
}

.registro_info_producto {
    border-bottom: 1px solid #0000004d;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 5%;
    gap: 5px;
}

.contenedor_registrar_editar_producto {
    width: 100%;
    display: flex;
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Centra el contenido verticalmente */
    padding: 20px; /* Puedes agregar un poco de espacio interno si lo deseas */
    box-sizing: border-box; /* Asegura que el padding se incluya en el ancho total */
}

.boton_busqueda {
    background-color: var(--Morado);
    color: var(--Blanco);
    padding: 1%;
    border-radius: 8px;
    width: 30%;
    height: 5%;
    font-weight: 600;
    margin-top: 10px;
    font-size: 2.5vh;
}

.boton_busqueda:hover {
    background-color: var(--Rosado_principal);
}

.edit_informacion{
    width: 100%;
    height: 3rem;
    border-radius: 31px;
    border: 1.5px solid #764C73;
    font-size: 1rem ;
    color: grey;
    font-family: 'Poppins', semi-bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 14px;
    padding-left: 15px; 
    box-sizing: border-box;
}

.seccion_forms{
    width: 100%;
    display: flex;
    justify-content: flex-start; /* Esto alinea el contenido a la derecha */
    margin-top: 1%; 
    margin-bottom: 1%;
    color: #925487;
    font-weight: 600;
    font-size: 25px;
}


.subtitulo_Info{
    font-family: 'Poppins', semi-bold;
    font-style: normal;
    width: 100%;
    margin: 2.5%;
    font-size: 1rem;
    font-weight: 600;

}

.contenedor_datos{
    width: 45%;
}

.boton_guardar_actualizar_productos{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1%;
}