body {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--Blanco);
}

:root {
    --Rosado_clarito: #fee9ff;
    --Blanco: #fff;
    --Negro: #000;
    --Rosado_principal: #be6c97;
    --Morado: #764c73;
}

label {
    font-family: inherit; /* Hereda la fuente del body */
    font-style: inherit; /* Hereda el estilo del body */
}

label {
    color: var(--Negro);
    font-size: 17px;
    width: 15%;
    margin: 1%;
}

.registro_imagen_producto {
    border-bottom: 1px solid #0000004d;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 0;
}

.llenar {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    border-radius: 8px;
    width: 30%;
    height: 20%;
}

.registro_info_producto {
    border-bottom: 1px solid #0000004d;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 0;
}

.container {
    width: 80%;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}

.boton_busqueda {
    background-color: var(--Morado);
    color: var(--Blanco);
    padding: 1%;
    border-radius: 8px;
    width: 30%;
    height: 10%;
    font-weight: 600;
    margin-top: 10px;
    font-size: 2.5vh;
}

.boton_busqueda:hover {
    background-color: var(--Rosado_principal);
}
